@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Work+Sans:300,400,600&display=swap');

/* Created the "global" rules for the page not to have any white borders*/
* {
    padding: 0;
    margin: 0;
}
/*Reduces the font size*/
:root {
    font-size: 75.5%;
}
/*This doesn't let the navigation bar to reach sides of the page*/
.navigation {
	width: 80%;
    margin: 0 auto;
}
/*Sets the background of the navigation bar*/
header {
  background: #373756;
  height:40px;
}
/*Moves the navigation bar to the right*/
nav {
  float: right;
}
/*Deletes the empty space around listed items and dots before them*/
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*Lists items in a row, while putting space in between them and from the top*/
nav li {
  display: inline-block;
  margin-right: 200px;
  padding-top: 15px;
  position: relative;
}
/*Sets the font, color and the size of the text in nav section  */
nav a {
  color: #97A0BE;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}
/*Makes the text change its colour in the nav section, when hovering on text*/
nav a:hover {
  color: #B4BFE3;
}
/*Creates a line above the text in the navigation bar*/
nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #97A0BE;
  position: relative;
  bottom: 15px;
  width: 0%;
  transition: all ease-in-out 200ms;
}
/*Makes the line to only appear after hovering on a word in navigation*/
nav a:hover::before {
  width: 100%;
}
/*Sets the background of the body*/
body {
    background: #B4BFE3;
}
/*Sets the colour and font for the heading 1*/
h1 {
    font-size: 3.5rem;
    font-weight: 400;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #373756;
}
/*Sets the options for the line separating text and photos*/
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}
/*Sets the size for the container class*/
.container {
    width: 96rem;
    margin: 2rem auto;
}
/*Sets image sizes*/
.gallery-item {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: all .3s;
    overflow: hidden;
    position: relative;
}
/*Sets settings for the whole gallery*/
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.5rem;
    grid-auto-rows: minmax(150px, auto);
}
/*Sets settings for the image class*/
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
}
/*Sets settings for the text after you hover on the images*/
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/*Makes the photos to turn grey and blured after hovering on them*/
.gallery-item:hover .image {
    -webkit-filter: grayscale(100%) blur(3px);
    filter: grayscale(100%) blur(3px);
}
/*Makes the text appear after hovering on the image*/
.gallery-item:hover .middle {
    opacity: 1;
}
/*Creates a shadow under the image after hovering*/
.gallery-item:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.8);
}
/*Sets the text colour and font type*/
.text {
    color: white;
    font-size: 2.5em;
    padding: 16px 32px;
    font-family: 'Open Sans', sans-serif;
}
/*Adjusts page for smaller screen*/
@media (max-width: 600px) {
    nav a {
        font-size: 16px;
    }

    header {
        height: 150px;
        width: 400px;
        position: relative;
        bottom: 15vh;
    }
    body {
        max-width: min-content;
    }
    h1 {
        position: relative;
        text-align: center;
        font-size: 25px;
    }

    .navigation
    {
        transform: scale(.8);
        position: relative;
        left: 10vh;
        text-align: center;
    }
    
    .gallery-item, body {
        position: relative;
        bottom: -15vh;
        left: -1vh;
        max-width: 30%;
        grid-column: 2;
        font-family: 'Open Sans', sans-serif;
        text-align: left;
    }
    
    div.container, h1 {
        text-align: left;
        margin-left: 2em;
    }

    div.text {
        font-size: 2.5em;
    }
}